@model ReportSpace.Bll.UsersCollection

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "NewUser")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <td>User</td>
            <td>Email</td>
            <td>Active</td>
            <td>Edit</td>
            <td>Details</td>
            <td>Delete</td>
            <td>Password</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.Active</td>
                <td>@Html.ActionLink("Edit", "EditUser", new { publicId = item.Publicid })</td>
                <td>@Html.ActionLink("Details", "UserDetails", new { publicId = item.Publicid })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { publicId = item.Publicid })</td>
                <td>@Html.ActionLink("Reset", "ResetPassword", new { publicId = item.Publicid })</td>
            </tr>
        }
    </tbody>

</table>
